* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  margin: 0 auto;
  width: 1170px;
  height: 665px;
  background: white;
  background: radial-gradient(circle, #a1865c 0%, #663f04 78%, #663f04 91%);
  color: white;
  overflow: hidden; }
  .header .annotation {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 11px;
    letter-spacing: 0.3em; }
  .header .logo {
    margin-left: 138px;
    margin-top: 48px;
    width: 100px;
    font-size: 25px;
    font-family: Roboto;
    font-weight: bold; }
    .header .logo span {
      color: green; }
  .header .headerWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start; }
  .header__text {
    margin-left: 138px;
    margin-top: 50px;
    width: 483px;
    font-family: Vollkorn;
    font-style: normal;
    font-weight: normal;
    line-height: 50px; }
    .header__text h1 {
      font-family: Vollkorn;
      font-style: normal;
      font-weight: normal;
      font-size: 40px;
      line-height: 50px; }
    .header__text hr {
      border: none;
      height: 10px;
      background: #dbab00;
      margin-bottom: 28px; }
    .header__text p {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px; }
  .header__text-chooseDate {
    margin-top: 47px;
    display: block;
    padding: 28px 22px;
    width: 318px;
    height: 81px;
    background: #a70b0b;
    box-shadow: 0px 0px 15px #dd9e23;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; }
  .header__image {
    position: relative;
    background-image: url("/Users/Montage/Desktop/testTask/img/Depositphotos_27353059_xl-2015.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 590px;
    height: 665px;
    margin-top: -40px;
    margin-right: 37px; }

.congratulation {
  width: 1170px;
  margin: 23px auto;
  text-align: center; }
  .congratulation .congratulationFooter {
    margin: 30px auto;
    width: 875px;
    height: 156px;
    left: 144px;
    top: 1481px;
    border: 11px solid #dbab00;
    box-sizing: border-box;
    font-family: Vollkorn;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #a70b0b;
    padding: 19px 17px; }
  .congratulation .crown {
    margin-top: -200px; }
  .congratulation .redDiploma {
    display: flex;
    justify-content: space-around; }
    .congratulation .redDiploma .coverImage {
      display: none;
      background-image: url("/Users/Montage/Desktop/testTask/img/Frame 5.png");
      background-size: contain;
      background-repeat: no-repeat;
      position: absolute;
      width: 100%;
      height: 100vh; }
    .congratulation .redDiploma h2 {
      margin-bottom: 20px; }
    .congratulation .redDiploma__text {
      width: 573px;
      text-align: left;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 26px; }
      .congratulation .redDiploma__text blockquote {
        margin: 26px 0;
        width: 570px;
        height: 119px;
        background: rgba(242, 214, 116, 0.58);
        padding: 21px 53px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 26px; }
    .congratulation .redDiploma__image-download {
      width: 276px;
      height: 74px;
      background: #a70b0b;
      box-shadow: 0px 0px 15px #dd9e23;
      color: #fff; }
      .congratulation .redDiploma__image-download a {
        color: white;
        text-decoration: none; }

.client {
  width: 1170px;
  height: 648px;
  background: white;
  background: radial-gradient(circle, #a1865c 0%, #663f04 78%, #663f04 91%);
  margin: 37px auto;
  text-align: center;
  overflow: hidden;
  color: white; }
  .client h2 {
    margin-top: 45px;
    margin-top: 10px;
    font-size: 30px; }
  .client hr {
    display: block;
    margin: 24px auto;
    width: 435px;
    height: 10px;
    border: none;
    background-color: #dbab00; }
  .client h3 {
    color: #dbab00;
    font-size: 30px;
    margin-top: 15px; }
  .client .clientWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px; }
    .client .clientWrapper__text {
      width: 420px;
      height: 97.78px;
      margin-top: -90px;
      margin-left: 100px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      text-align: left; }
    .client .clientWrapper__courier {
      margin-top: -200px;
      width: 593px;
      height: 675px;
      background-image: url("/Users/Montage/Desktop/testTask/img/Depositphotos_5062302_xl-11 2.2.png"); }

.delivery {
  text-align: center;
  width: 1170px;
  margin: 0 auto; }
  .delivery h1 {
    margin-top: 50px; }
  .delivery .crown {
    margin-top: -200px; }
  .delivery .deliveryWrapper {
    display: flex;
    align-items: center;
    margin-left: 100px; }
    .delivery .deliveryWrapper__text {
      width: 476px;
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 26px;
      text-align: left; }
    .delivery .deliveryWrapper__image svg {
      position: relative;
      right: 280px;
      top: -30px; }
  .delivery .clientFooter {
    margin: 40px auto;
    width: 875px;
    height: 156px;
    border: 11px solid #dbab00;
    box-sizing: border-box;
    font-family: Vollkorn;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
    color: #a70b0b;
    padding: 19px 17px; }

.instruction {
  color: #fff;
  margin: 0 auto;
  width: 1170px;
  height: 783px;
  left: 0px;
  top: 3087px;
  background: #663f04;
  padding-top: 28px; }
  .instruction blockquote {
    padding: 40px;
    width: 878px;
    height: 191px;
    background: #F5E586;
    border: 11px solid #DBAB00;
    box-sizing: border-box;
    margin: 20px auto;
    font-family: Vollkorn;
    color: #FF0000;
    font-size: 40px;
    line-height: 45px;
    text-align: center; }
  .instruction h1 {
    font-family: Vollkorn;
    font-size: 40px;
    line-height: 50px;
    text-align: center; }
  .instruction hr {
    display: block;
    margin: 0 auto;
    width: 889px;
    height: 10px;
    border: none;
    background-color: #dbab00; }
  .instruction h2 {
    font-family: Vollkorn;
    font-size: 25px;
    line-height: 31px;
    text-align: center;
    padding: 20px;
    width: 918px;
    margin: 0 auto; }
  .instruction .instructionImage {
    text-align: center;
    margin-top: 50px; }
  .instruction .instructionStep {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    list-style: decimal; }
    .instruction .instructionStep li {
      width: 202px;
      margin: 20px; }

form {
  width: 878px;
  height: 696px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
  padding: 10px; }

.wrapp {
  width: 829px;
  height: 658px;
  border: 5px solid #DBAB00;
  margin: 10px auto;
  text-align: center; }
  .wrapp .ok {
    margin-left: 90px; }

.radioWrap {
  text-align: left;
  margin-left: 89px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 13px;
  width: 650px;
  padding: 20px; }
  .radioWrap p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px; }
  .radioWrap input {
    margin: 10px;
    background: #000; }

.deliveryForm {
  margin-top: 40px; }

.wrappInput {
  display: grid;
  grid-template: 130px 2fr/400px 1fr; }
  .wrappInput input {
    border: 2px solid #E2C765;
    box-sizing: border-box; }
  .wrappInput .day, .wrappInput .phone {
    width: 273px;
    height: 47px; }
  .wrappInput .day {
    margin-top: 20px;
    margin-left: 90px; }
  .wrappInput .phone {
    margin-left: -10px; }
  .wrappInput .address {
    width: 607px;
    height: 51px;
    border: 2px solid #E2C765;
    box-sizing: border-box;
    margin-left: 110px; }

.footerWrap {
  text-align: center;
  padding: 5px;
  margin: 12px 10px;
  width: 607px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px; }

.send {
  display: block;
  margin: 30px auto;
  width: 276px;
  height: 74px;
  background: #a70b0b;
  box-shadow: 0px 0px 15px #dd9e23;
  color: white;
  text-decoration: none;
  padding: 24px 74px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF; }

.footer {
  width: 971px;
  height: 279px;
  font-family: Vollkorn;
  font-size: 40px;
  line-height: 56px;
  text-align: center;
  color: #000000;
  margin: 39px auto; }

.product {
  text-align: center; }
